@font-face {
    font-family: 'sole_survivorregular';
    src: url('../Fonts/solesurvivor-webfont.woff2') format('woff2'),
         url('../Fonts/solesurvivor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'cantarellregular';
    src: url('../Fonts/cantarell-regular-webfont.woff2') format('woff2'),
         url('../Fonts/cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Bungee Shade';
    src: url(../Fonts/Bungee_Shade/BungeeShade-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Monoton';
    src: url(../Fonts/Monoton/Monoton-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../Fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url(../Fonts/Roboto/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #F8F8FF;
	font-size: 16px;
	color: #000000;
	font-family: trebuchet ms, sans-serif;
}
#header-nav {
	background-color: #F8F8FF;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 a {
	color: #32CD32;
	font-family: 'Bungee Shade', cursive;
	font-size: 200%;
/*	margin-left: 130px;*/
}
div.navbar-brand {
	font-family: 'Bungee Shade', cursive;
	font-size: 7em;
    margin: 80px 0 50px;
}
.logo-right {
/*	color: #DAA520;*/
    color: #D2691E;
}
.logoColor {
	color: #0000FF;
}
p.navbar-text {
	font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    color: #000000 !important;
}
/* restyling the navbar */
#collapsable-nav {
	margin: 180px 30px 0 0;
  	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
}
/* highlight behavior of the navbar */
.navbar-default .navbar-nav .active a {
	font-weight: bold;
	background-color: #F8F8FF;
	text-shadow: 0.5px 0.5px #000000;
}
.navbar-default .navbar-nav .active a:focus, {
    background-color: #DFDFFF;
    border-radius: 20px;
}
.navbar-default .navbar-nav li a:hover {
    background-color: #DFDFFF;
    border-radius: 20px;
}
.navbar-default .navbar-nav li.active a:hover {
    background-color: #DFDFFF;
    border-radius: 20px;
}

#nav-list {
	margin-right: 0;
}
#nav-list li {
	padding: 0 20px;
}
button.navbar-toggle.collapsed, .icon-bar {
	border: 1px solid #000000;
	text-align: middle;
}
button.navbar-toggle {
  	margin-top: 120px;
}
#nav-list a {
	color: #000000;
	text-align: center;
}
div#main-content.container {
	margin-top: 100px;
}
.jumbotron {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 600px;
}
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.5;
    color: #fff;
    background: #000 url("/Images/triathlon-natation-mer.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.jumbotron h1 {
	font-family: 'Monoton', cursive;
    font-size: 3em;
    word-spacing: 3rem;
    font-weight: bold;
    color: #000000;
    padding: 10px 0px;
    margin: 240px 0px;
}
h1, h2 {
/*    font-family: 'cantarellregular', arial, sans-serif;*/
  	font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: #000000;
/*    color: #008080;*/
    padding: 10px 0px;
    margin: 40px 0px;
}
section {
/*	font-family:'cantarellregular', arial, sans-serif;*/
  	font-family: 'Montserrat', sans-serif;
	font-size: 90%;
	/*color: #47433F;*/
	color: #5D5D5D;
	text-align: justify;
	background-color: #F8F8FF;
	margin: 0;
	padding: 5px 0px 0px 0px;
}
#main-content-title {
	margin: 5px 0 40px;
}
#topbutton {
	color: #000000;
}
div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
}
img {
	width: 100%;
}
.well {
	background-color: #DFDFFF;
	text-align: center;
	border: none;
	font-family: 'Roboto', sans-serif;
}
/* restyling the footer */
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    color: #000000;
/*    color: #008080;*/
    padding: 10px 0px;
    margin: 80px -200px 0px;
}
/* highlight behavior of the footer */
.navbar-nav.navbar-center .active a {
	font-weight: bold;
	background-color: #F8F8FF;
	text-shadow: 0.5px 0.5px #000000;
}
.navbar-nav.navbar-center .active a:focus, {
    background-color: #DFDFFF;
    border-radius: 20px;
}
.navbar-nav.navbar-center li a:hover {
    background-color: #DFDFFF;
    border-radius: 20px;
}
.navbar-nav.navbar-center li.active a:hover {
    background-color: #DFDFFF;
    border-radius: 20px;
}

@media (min-width: 992px) and (max-width: 1199px) {
	div.navbar-brand {
	font-family: 'Bungee Shade', cursive;
	font-size: 6em;
    margin: 80px 0 50px;
  }
   .navbar-brand h1 a, h2 {
 	margin-left: 20px;
  }
   .jumbotron h1 {
	font-family: 'Monoton', cursive;
    font-size: 3em;
    text-align: center;
    color: #000000;
    padding: 10px 0px;
    margin: 150px 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  #nav-list {
	margin-right: 80px;
  }
  #collapsable-nav {
	margin: 180px 0 0px 0;
  }
  div.navbar-brand {
	font-size: 4.5em;
    margin: 80px 0 50px;
  }
  .jumbotron h1 {
	font-family: 'Monoton', cursive;
    font-size: 3em;
    text-align: center;
    color: #000000;
    padding: 10px 0px;
    margin: 50px 0px;
  }
  div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
  }
  .jumbotron {
    min-height: 500px;
  }
}
@media (min-width: 567px) and (max-width: 767px){
  #header-nav {
	border: 1px solid #000000;
	max-height: 200px;
  }
  .navbar{
  	margin-bottom: 0;
  }
  div.navbar-brand {
	font-size: 3.5em;
    margin: 80px 0 10px;
  }
  .navbar-collapse {
  	vertical-align: middle;
  }
  #collapsable-nav {
/*  	font-family: 'cantarellregular', arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
  	margin: 0;
  	padding-left: 40px;
  	border-top: 1px solid #000000;
  }
  button.navbar-toggle.collapsed,  button.navbar-toggle {
  	margin: 10px 10px 10px 300px;
  }
  div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
  }
  .jumbotron h1 {
	font-family: 'Monoton', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #000000;
    padding: 10px 0px;
    margin: 50px 0px;
  }
    .jumbotron {
    min-height: 400px;
  }
}
@media (max-width: 566px){
  #header-nav {
	border: 1px solid #000000;
  }
  .navbar {
  	margin-bottom: 0;
  }
 .navbar-header .navbar-brand {
	font-size: 4em;
    margin: 10px 0 80px;
    line-height: 65px;
   }
  .navbar-collapse {
  	vertical-align: middle;
  }
  #collapsable-nav {
/*  	font-family: 'cantarellregular', arial, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
  	margin: 0;
  	padding-left: 40px;
  	border-top: 1px solid #000000;
  }
  button.navbar-toggle.collapsed,  button.navbar-toggle {
  	margin: 10px 10px 10px 300px;
  }
  div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
  }
  .jumbotron h1 {
	font-family: 'Monoton', cursive;
    font-size: 1.5em;
    word-spacing: 1.5rem;
    text-align: center;
    color: #000000;
    padding: 10px 0px;
    margin: 50px 0px;
  }
  .jumbotron {
    min-height: 300px;
  }
  .jumbotron-billboard .img {
  	border-bottom: 1px solid #000000;
  }
}
