@font-face {
    font-family: 'sole_survivorregular';
    src: url('../Fonts/solesurvivor-webfont.woff2') format('woff2'),
         url('../Fonts/solesurvivor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'cantarellregular';
    src: url('../Fonts/cantarell-regular-webfont.woff2') format('woff2'),
         url('../Fonts/cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	background-color: #F8F8FF;
	font-size: 16px;
	color: #000000;
	font-family: trebuchet ms, sans-serif;
}
#header-nav {
	background-color: #F8F8FF;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 a {
	color: #32CD32;
	font-family:'sole_survivorregular', arial, sans-serif;
	font-size: 200%;
/*	margin-left: 130px;*/
}
div.navbar-brand {
	font-family:'sole_survivorregular', arial, sans-serif;
	font-size: 6em;
    margin: 30px 0 30px;
}
.logo-right {
	color: #32CD32;
}
.logoColor {
	color: #0000FF;
}
p.navbar-text {
	font-family:'Courier New', arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    color: #000000 !important;
}
.navbar-brand a:hover {
	text-decoration: none;
}
#collapsable-nav {
	margin: 180px 60px 0 0;
/*	font-family:'Courier New', arial, sans-serif;*/
  	font-family: 'cantarellregular', arial, sans-serif;
	font-size: 17px;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #F8F8FF;
	font-weight: bold;
	/*text-decoration: underline;*/
}
#nav-list {
	margin-right: 0;
}
#nav-list li {
	padding: 0 20px;
}
button.navbar-toggle.collapsed, .icon-bar {
	border: 1px solid #000000;
	text-align: middle;
}
button.navbar-toggle {
  	margin-top: 120px;
}
#nav-list a {
	color: #000000;
	text-align: center;
}
div#main-content.container {
	margin-top: 100px;
}
h1, h2 {
    font-family: 'cantarellregular', arial, sans-serif;
    font-size: 2em;
/*    color: #2DB8CD;*/
    color: #008080;
    padding: 10px 0px;
    margin: 40px 0px;
}
section {
	font-family:'cantarellregular', arial, sans-serif;
	font-size: 90%;
	/*color: #47433F;*/
	color: #5D5D5D;
	text-align: justify;
	background-color: #F8F8FF;
	margin: 0;
	padding: 5px 0px 0px 0px;
}
#main-content-title {
	margin: 5px 0 40px;
}
#topbutton {
	color: #000000;
}
div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
}
img {
	width: 100%;
}
@media (min-width: 992px) and (max-width: 1199px) {
   .navbar-brand h1 a, h2 {
 	margin-left: 20px;
}
}
@media (min-width: 768px) and (max-width: 991px){
  #nav-list {
	margin-right: 80px;
  }
  #collapsable-nav {
	margin: 180px 0 0px 0;
  }
  div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
  }
}
@media (max-width: 767px){
  #header-nav {
	border: 1px solid #000000;
  }
  div.navbar-brand {
	font-size: 5em;
    margin: 30px 0 30px;
  }
  .navbar-collapse {
  	vertical-align: middle;
  }
  #collapsable-nav {
  	font-family: 'cantarellregular', arial, sans-serif;
  	margin: 0;
  	padding-left: 40px;
  	border-top: 1px solid #000000;
  }
  button.navbar-toggle.collapsed,  button.navbar-toggle {
  	margin: 10px 10px 10px 300px;
  }
  div.embed-responsive {
    width:100%;
    margin: 50px 0 50px 0px;
  }
}
