html
{ height: 100%;}

@font-face {
    font-family: 'sole_survivorregular';
    src: url('../Fonts/solesurvivor-webfont.woff2') format('woff2'),
         url('../Fonts/solesurvivor-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'cantarellregular';
    src: url('../Fonts/cantarell-regular-webfont.woff2') format('woff2'),
         url('../Fonts/cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*
{ margin: 0;  
  padding: 0;}

body
{ font: normal .80em trebuchet ms, sans-serif;
  background: #F8F8FF;
  color: #5D5D5D;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font-family: 'cantarellregular', arial, sans-serif;
  font-size: 150%;
  color: #2DB8CD;
  margin: 0 0 14px 0;
  padding: 10px 0 5px 0;}

h3
{ font-family: 'Courier New', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% 'century gothic', arial, sans-serif;
  color: #B60000;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #A4AA04;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #F8F8FF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ padding-bottom: 20px;}

#header
{ background: transparent;
  height: 170px;}


#logo
{ width: 950px;		/* lorsqu'on augmente on pousse vers la gauche le logo */
  position: relative;
  height: 134px;}

/* définition police du logo */
#logo h1
{ font-family:'sole_survivorregular', arial, sans-serif;}

#logo h2
{ font-family:'Courier New', arial, sans-serif;}

#logo h1
{ font-size: 500%;
  padding: 24px 0 0 0;
  margin: 0;
  color: #FFF;}

/* définition de la phrase sous le logo principal */
#logo h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #000000;}

/* définition du logo de gauche */
#logo h1, #logo h1 a, #logo h1 a:hover 
{ padding: 22px 0 0 0;
  color: #32CD32;
  text-decoration: none;}

/* définition du logo de droite */
#logo h1 a .logo_colour
{ color: #0000FF;
  padding: 5px;}

/* définition couleur lorqu'on passe avec le curseur sur logo de droite */
#logo a:hover .logo_colour
{ color: #FF4500;
  width: 50px;}

#menubar
{ height: 24px;
  width: 900px;} 

ul#menu
{ float: right;
  margin: 0;
  padding: 0;}

ul#menu li
{ float: left;
  padding: 0;
  list-style: none;
  margin: 5px 2px 0 0;}

ul#menu li a /* définit les menus de sélection des autres pages du site*/
{ font: normal 100% 'Courier New', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 20px 5px 20px;
  text-align: center;
  color: #000;
  text-decoration: none;
  background: #F8F8FF;} 

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #F8F8FF;
  color: #B60000;}

ul#menu li a:hover
{ color: #B60000;}

#site_content
{ width: 900px;
  height: 700px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 50px 20px 20px 5px;
  font-family:'cantarellregular', arial, sans-serif;
  background: #F8F8FF url(back.png) repeat-y;
  border: 15px solid #F8F8FF;} /* définit la bordure du cadre principal */

.sidebar
{ float: right;
  width: 190px;
  padding: 0 0px 20px 15px;
  margin-right: -20px;
  position: absolute; /* permet de place cet élément tout à droite */
  right: 60px;}

.sidebar ul
{ width: 178px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a, .sidebar li a:hover
{ padding: 0 0 0 25px;
  display: block;
  background: transparent url(link.png) no-repeat left center;} 

.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 613px;
  padding: 0;}

#footer
{ width: 916px;
  font-family: sans-serif;
  font-size: 90%;
  height: 28px;
  padding: 20px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 0.1em;}

#footer a, #footer a:hover
{ color: #111;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

#footer p
{ line-height: 22px;
  padding: 0;}
  
.search
{ color: #555; 
  border: 1px solid #DDD; 
  width: 134px;
  padding: 5px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #F8F8FF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #F8F8FF; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #F8F8FF;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #F8F8FF;
  color: #47433F;
  border-top: 1px solid #FFF;}
